.password-field__container {
    font-size: 12px;
    font: Arial, sans-serif;
}

.password-field {
    height: 25px;
    width: 100%;
    font-size: 16px;
}

.proggress-bar {
    height: 4px;
    background: green;
}

.proggress-bar__container {
    border: 1px solid #eee;
}

.validation {
    padding: 0;
    list-style: none;
}

.validation li.fulfiled:before {
    content: '\2705';
    color: green;
    padding-right: 3px;
    font-size: 14px;
}

.validation li.unfulfilled:before {
    content: '\274c';
    color: red;
    padding-right: 3px;
    font-size: 14px;
}
